.xpsui-menu{
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background-color: yellow;
	width: $menu-width;
	margin-left: -$menu-width;
	@include transition(margin-left .5s linear);
	
	@media (min-width: $screen-md-min){
		margin-left: 0px;
	}
	
	.xpsui-menu-toggle{
		position: fixed;
		line-height: 40px;
		background-color: red;
		right: 0px;
		
		@media (min-width: $screen-md-min){
			display: none;
		}
	}

	&.x-open{
		margin-left: 0px;
	}
}
