<form id="login-form" novalidate class="form form-horizontal">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<fieldset>
					<span class="legend">{{'login.title'|translate}}</span>
					<div class="lang" ng-controller="langSelectCtrl"><a href="#" ng-click="setLang('sk')">SK</a> | <a href="#" ng-click="setLang('cz')">CZ</a></div>

					<div ng-disabled="profiles" class="form-group">
						<label for="name" class="col-sm-4 control-label">{{'login.loginName' | translate}}</label>
						<div class="col-sm-8">
							<input ng-disabled="profiles" type="text" ng-model="user"
								placeholder="{{'login.loginName' | translate}}" class="form-control"
								autocomplete="off">
						</div>
					</div>

					<div  class="form-group">
						<label for="password" class="col-sm-4 control-label">{{'login.password' | translate}}</label>
						<div class="col-sm-8">
							<input ng-disabled="profiles" type="password" ng-model="password" ng-keyup="$event.keyCode == 13 && login()"
								placeholder="{{'login.password' | translate}}"
								class="form-control" autocomplete="off">
						</div>
					</div>
					<div ng-show="profiles" class="form-group">
						<label for="password" class="col-sm-4 control-label">{{'login.profile' | translate}}</label>
						<div class="col-sm-8">
							<select class="form-control"
								ng-model="selectedProfile"
								ng-Init="selectedProfile=profiles[0]"
								ng-options="prof.name for prof in profiles"></select>
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-4">&nbsp;</div>
						<div class="col-sm-7">
							<div class="btn-group-vertical">
								<button ng-show="profiles" ng-click="selectProfile()" class="btn btn-primary"><i class="glyphicon-log-in"></i> {{'login.selected.profile.continue' | translate}}</button>
								<button ng-show="!profiles" ng-click="login()" class="btn btn-primary"><i class="glyphicon-log-in"></i> {{'login.title' | translate}}</button>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</form>
