<section id="editor"  ng-cloak
	ng-controller="schemaEditorCtrl">


	<div ng-show="alert" class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<strong>Authentication failure!</strong> {{alert}}
	</div>

	<div " class="row">
		<div style="height: 800px;"
			ui-ace="{
            useWrapMode : true,
            showGutter: true,
            theme:'twilight',
            mode: 'json',
            onLoad: aceLoaded
          }"
			ng-model="aceModel">Ace here</div>
	</div>

	<button title="Send" class="btn btn-primary"
		ng-click="postData(aceModel)">Save</button>

</section>