// base layout
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $page-bg;
}

body{
    height: 100%;
}

[class^="glyphicon-"], [class*="glyphicon-"] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
    font-size: $font-size-h1;
	font-weight: bold;
	text-transform: uppercase;
}

h2{
    font-size: $font-size-h2;
}

#main-wrapper{
	min-width: $device-min-width;
	width: 100%;
	position: absolute;
	top: 0px;
	min-height: 100%;
}

// Content
#content-wrapper{
  padding-top: $header-height + $content-padding / 2;
  padding-bottom: $footer-height + $content-padding;
  
  color: $font-color-base;
  
  h1{
    margin-left: 30px;
    margin-top: 0;
  }
}

#content{
	padding: 18px 20px;
	h1{
		margin-top: 0px;
		margin-left: 15px;
	}
}

// Menu
ul.menu {
    margin-top:46px;
}

// grid system
.row {
    margin-left: 0px;
    margin-right: 0px;
}