input[type="text"], selectbox{
	@include appearance(none);
}

// common form
.form{
	.input-group{
		width: 100%;
	}
}

.psui-wrapper {
	display: block;
	position: relative;
	box-sizing: border-box;
	line-height: 1em;

	.psui-validation-mark{
		position: absolute;
		left: 100%;
		top: 0px;
		background-color: inherit;
		z-index: 10;
		> :first-child{
			padding-left: $field-action-holder-space/2;
		}
	}
}

.form-group{
	margin-bottom: $field-padding-vertical; 
}

.psui-hidden {
	display: none !important;
}

.form-control {
	@include box-shadow(none);
	background-color: $input-bg;
	border: 1px solid $input-border-color;	
	border-radius: 0px;
	padding: $field-padding-vertical $padding-base-horizontal;	

	&:focus,
	&:hover,
	&:active {
		@include box-shadow(none !important);
		border: 1px solid $input-border-color;
	}

	&.ng-invalid{
		&:not([class*="ng-pristine"]){
			border-color: $error-color;
		}
	}
}

select{
	background-color: $input-bg;
	&.form-control{
		/*-webkit-appearance: listbox;*/
		width: 100%;
		height: 34px;
		border-radius: 0px;
		padding: 0 0 1px 8px;
	}
}

// lable
label {
	font-weight: normal;
	cursor: default;
	&.psui-required:after {
		content: '*';
		color: $error-color;
		margin-left: 5px;
	}
}

fieldset{
	> legend, .legend{
		text-transform: uppercase;
		display: block;
		padding: $padding-large-vertical 0px;
		margin-bottom: $content-padding / 4;
		border-bottom: 1px solid $input-border-color; 
		font-weight: bold;
		font-size: $font-size-base;
		
		 + * {
			-webkit-margin-top-collapse : separate;
			margin-top: $content-padding / 4;
		 }
	}
}

.form-horizontal .control-label {
	text-align: left;
}

//view mode
.psui-inlineedit-view{
	position: relative;
	display: block;
	font-size: $font-size-base;
	line-height: 24px;
	border-width: 1px;
	border-color: #ffffff;
	border-style: dashed;
	padding: $field-padding-vertical $padding-base-horizontal*3 $field-padding-vertical $padding-base-horizontal;	
	@include user-select(none); 
	@include transition(border-color .5s);
	
	// &:before{
	// 	content: " ";
	// 	display: inline-block;
	// 	height: $font-size-base;
	// }
	min-height: 34px;
	
	&:after{
		opacity: 0;
		@include transition(opacity .5s linear);
		font-family: $icon-font-family;
		content: "\270f";
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		background-color: $input-bg;
		padding: $field-padding-vertical 6px $field-padding-vertical 6px;
		@include transition(opacity .5s);
	}
	
	&:hover{
		border-width: 1px;
		border-color: $input-border-color;
		border-style: dashed;
		cursor: pointer;
		
		&:after{
			opacity: 1;
		}
	}
}

.psui-buttons-holder{
	display: table-cell;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 2;
	
	.btn{
		margin-right: 0px;
		font-size: $font-size-base;
		line-height: $line-height-computed + $field-padding-vertical;
		border: 0px;
		background: none;
		padding: 0px 7px;
		padding: $field-padding-vertical $padding-base-horizontal/2;

		i{
			margin-right: 0px;
		}

		&[class*="psui-icon-"]{
			span{
				margin-left: 5px;
			}
		}

	}
	
	.psui-icon-chevron-down:before{
		top: 3px;
	}
}

// action holder
.psui-wrapper{
	.psui-actions-holder{
		display: block;
		position: absolute;
		right: 0px;
		bottom: 100%;
		display: block;
		z-index: 2;
		
		.psui-btn{
			@include box-shadow(0px -2px 10px 0px $page-bg);
			@include transition(all .3s);
		}
	}
}

.psui-actions-holder{
	.psui-btn{
		> :first-child{
			border-left: 1px solid lighten($input-border-color, 10%);
		}

		&:first-child{
			> :first-child{
				border-left: 0px !important;
			}
		}
	}
}

.psui-btn{
	border: 0px;
	display: inline-block;
	padding-right: $field-action-holder-space;
	cursor: pointer;
	color: lighten($font-color-base,20%);
	background-color: $field-action-holder-bg;
	line-height: 37px;
	white-space: nowrap;

	> i + span{
		margin-left: $field-action-holder-space;
	}

	> :first-child{
		padding-left: $field-action-holder-space;
	}

	&.psui-hidden + .psui-btn,
	&.ng-invalid.ng-pristine + .psui-btn{
		> :first-child{
			border-left: 0px;
		}
	}

	&.ng-invalid.ng-pristine{
		display: none;
	}

	> i{
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		position: relative;
		top: 2px;
	}

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: $font-color-base;
		@include transition(all .3s);
	}

	&.psui-validation-mark{
		> i:before{
			content: "\e107";
		}
		> *{
			color: $error-color;
		}

		> span{
			display: none;
		}
	}

	&.psui-commit-btn{
		> i:before{
			content: "\e013";
		}
	}

	&.psui-view-btn{
		> i:before{
			content: "\e105";
		}
	}

	&.psui-cancel-btn{
		> i:before{
			content: "\e014";
		}
	}

	&.psui-edit-btn{
		> i:before{
			content: "\270f";
		}
	}
}

.psui-validation-mark{
	position: relative;
	
	.psui-errors{
		position: absolute;
		white-space: nowrap;
		right: 100%;
		background: $errors-bg;
		top: 0px;
		padding: 7px 12px;
		margin: 0px;
		border: 1px solid $errors-color;
		border-radius: 6px;
		@include box-shadow(0 5px 10px rgba(0,0,0,.3));
		
		div{
			line-height: $line-height-base;
			color: $errors-color;
		}
		
		&:after,&:before {
			top: 12px;
			left: 100%;
			border: solid transparent;
			content: " ";
			height: 0; 
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(250, 250, 250, 0);
			border-left-color:  $errors-bg;
			border-width: 5px;
			margin-top: 1px;
		}
		&:before {
			border-color: rgba(208, 208, 208, 0);
			border-left-color: $errors-color;
			border-width: 6px;
		}
	}
}

// btn
.btn {
	border-radius: 0;
	i {
		margin-right: 12px;
	}
}

.btn-group {
	.btn{
		&:first-child{
			margin-left: 0px;
		}
		+ .btn{
			margin-left: 12px;
		}
	}
}

.btn-group-vertical{
	.btn-link{
		color: $button-submit-bg;
		padding: $btn-vertical-padding 0px;
		margin: $btn-vertical-margin 0px;
		line-height: 2 * $btn-vertical-margin + 2 * $btn-vertical-padding + 16px;
	}
}