// common form
.form{
	.input-group{
		width: 100%;
	}
}

.psui-wrapper {
	display: block;
	position: relative;
	box-sizing: border-box;
	line-height: 1em;
}

.psui-hidden {
	display: none !important;
}

.form-control {
	@include box-shadow(none);
	background-color: $input-bg;
	border: 1px solid $input-border-color;	
	border-radius: 0px;
	
	&:focus,
	&:hover,
	&:active {
		@include box-shadow(none !important);
		border: 1px solid $input-border-color;
	}
}

// lable
label {
	font-weight: normal;
    cursor: auto;
}

fieldset{
	> label{
		text-transform: uppercase;
		display: block;
		padding: 10px 0px;
		margin-bottom: 15px;
		border-bottom: 1px solid #b0b0b0;
		font-weight: bold;
	}
}

.form-horizontal .control-label {
	text-align: left;
}

//view mode
.psui-inlineedit-view{
	position: relative;
	display: block;
	font-size: $font-size-base;
	line-height: $line-height-base;
	border-width: 1px;
	border-color: #ffffff;
	border-style: dashed;
	padding: $padding-base-vertical $padding-base-horizontal*3 $padding-base-vertical $padding-base-horizontal;	
	@include user-select(none); 
	
	&:before{
		content: " ";
		display: inline-block;
		height: $font-size-base;
	}
	
	&:after{
		display: none;
		font-family: 'Glyphicons Halflings';
		content: "\270f";
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		background-color: $input-bg;
		padding: 6px;
	}
	
	&:hover{
		border-width: 1px;
		border-color: $input-border-color;
		border-style: dashed;
		cursor: pointer;
		
		&:after{
			display: block;
		}
	}
}

.psui-actions-holder{
	
}

// action holder
.psui-actions-holder{
	display: block;
	position: absolute;
	right: 0px;
	bottom: 100%;
	display: block;
	z-index: 2;

	.psui-btn{
		border: 0px;
		display: inline-block;
		padding-right: $field-action-holder-space;
/*		padding-top: $field-action-holder-space;
		padding-bottom: $field-action-holder-space;*/
		cursor: pointer;
		color: lighten($font-color-base,20%);
		background-color: $field-action-holder-bg;
		line-height: 37px;
		@include box-shadow(0px -2px 10px 0px $page-bg);
		@include transition(all .3s);
		
		> span{
			/*display: none;*/
		}
		
		> i + span{
			margin-left: $field-action-holder-space;
		}

		> :first-child{
			border-left: 1px solid lighten($input-border-color, 10%);
			padding-left: $field-action-holder-space;
		}

		&:first-child{
			> :first-child{
				border-left: 0px;
			}
		}
		
		&.psui-hidden + .psui-btn,
		&.ng-invalid.ng-pristine + .psui-btn{
			> :first-child{
				border-left: 0px;
			}
		}
		
		&.ng-invalid.ng-pristine{
			display: none;
		}
		
		> i{
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			position: relative;
			top: 2px;
		}
		
		&:hover,
		&:focus,
		&:active,
		&.active {
			color: $font-color-base;
			@include transition(all .3s);
		}
		
		&.psui-validation-mark{
			> i:before{
				content: "\e107";
			}
			> *{
				color: red;
			}
		}
		
		&.psui-commit-btn{
			> i:before{
				content: "\e013";
			}
		}
		
		&.psui-cancel-btn{
			> i:before{
				content: "\e014";
			}
		}
	}
}

.psui-validation-mark{
	position: relative;
	
	$color1: #ff0000;
	$color2: #ffffff;
	
	.psui-errors{
		position: absolute;
		white-space: nowrap;
		right: 100%;
		background: $color1;
		top: 0px;
		padding: 7px 12px;
		margin: 0px;
		border: 1px solid $color2;
		border-radius: 6px;
		@include box-shadow(0 5px 10px rgba(0,0,0,.3));
		
		div{
			line-height: $line-height-base;
			color: $color2;
		}
		
		&:after,&:before {
			top: 12px;
			left: 100%;
			border: solid transparent;
			content: " ";
			height: 0; 
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(250, 250, 250, 0);
			border-left-color:  $color1;
			border-width: 5px;
			margin-top: 1px;
		}
		&:before {
			border-color: rgba(208, 208, 208, 0);
			border-left-color: $color2;
			border-width: 6px;
		}
	}
}

// btn
.btn {
    border-radius: 0;
	margin-right: 12px;
	i {
		margin-right: 12px;
	}
}
