// Catchall baseclass
[class^="psui-icon-"], [class*=" psui-icon-"] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.psui-icon-chevron-down{ &:before { content: "\e114"; } }