// Catchall baseclass
[class^="psui-icon-"]:before, [class*=" psui-icon-"]:before{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.psui-icon-chevron-down{ &:before { content: "\e114"; } }
.psui-icon-chevron-up{ &:before { content: "\e113"; } }
.psui-icon-calendar{ &:before { content: "\e109"; } }
.psui-icon-rotate{ &:before { content: "\e030"; } }
.psui-icon-ok{ &:before { content: "\e013"; } }
.psui-icon-search{ &:before { content: "\e003"; } }