// Import the fonts
/*@font-face {
    font-family: $icon-font-family;
    src: url(#{$icon-font-path}#{$icon-font-name}.eot);
    src: url(#{$icon-font-path}#{$icon-font-name}.eot) format('embedded-opentype'),
        url(#{$icon-font-path}#{$icon-font-name}.woff) format('woff'),
        url(#{$icon-font-path}#{$icon-font-name}.ttf) format('truetype'),
        url(#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}) format('svg')
    ;
}*/

// Catchall baseclass

/*[class^="icons-"], [class*=" icons-"], .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

// Individual icons
/*.icons-asterisk               { &:before { content: "\2a"; } }*/
