#main-menu{
	position: fixed;
	top: $header-height;
	bottom: 0px;
	z-index: 11;
	
	&.ng-hide{
		display: block !important;
		
		@include media-mobile{
			left: -300px;
			@include transition(left .5s);
		}
	}
	
	left: 0px;
	@include transition(left .5s);
	
	.sidebar{
		position: absolute;
		top: 0px;
		bottom: 0px;
		background-color: $sidebar-first-level-color-bg;
        overflow-y: auto; 
		left: 0px;

        ul{
            display: block;
            overflow: hidden;
        }
        
        .psui-accordion-active{
            > ul{
                height: auto;
            }
        }
        
		li{
            display: block;
			white-space: nowrap;
			&:last-child{
				a{
					border-bottom: 0px;
				}
			}
		}
		
		a,div{
            cursor: pointer;
			display: block;
			line-height: $sidebar-size;
			color: $sidebar-color-base;
			padding-right: 2 * $sidebar-menu-item-padding;
			border-bottom: 1px solid $sidebar-secound-level-color-bg;
			width: $sideber-width;
			
			i{
				font-size: $sidebar-icon-size;
				padding: 0px $sidebar-menu-item-padding;
				line-height: $sidebar-size;
			}
			
			&:hover,
			&.active{
				color: $sidebar-color-hover;
			}

			span{
				position: relative;
				top: -4px;
			}

		}
		
		ul ul{
            height: 0px;
			a{
				background-color: $sidebar-secound-level-color-bg;
				padding-left: $sidebar-size;
				line-height: inherit;
				padding-top: $sidebar-menu-item-padding;
				span{
					top: -1px;
				}
			}
			li:last-child{
				a{
					padding-bottom: $sidebar-menu-item-padding;
				}
			}
			
		}
	}
}

#main-wrapper{
	> header{
		.toogle-menu{
			
			display: block;
			padding: 0px $sidebar-menu-item-padding;
			width: $sidebar-size;
			background-color: $sidebar-first-level-color-bg;
			color: $sidebar-color-base;
			@include media-tablet-up{
				display: none;
			}
			
			i{
				font-size: $sidebar-icon-size;
				line-height:  $header-height;
			}
			&:hover {
				color: $sidebar-color-hover;
			}
		}
	}
}

#content-wrapper{
	@include transition(margin-left .5s);
	
	&.main-menu-active{
		margin-left: $sideber-width;
		@include transition(margin-left .5s);
	}
	
	@include media-tablet-up{
		margin-left: $sideber-width;
		@include transition(margin-left .5s);
	}
}