.psui-uploadable-image{
	cursor: pointer;
	text-align: center;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid $input-border-color;
	margin: ($field-padding-vertical) 0px ($field-padding-vertical) ($padding-base-horizontal);
}

.psui-uploadable-image-fbutton {
	/*display: none !important;*/
	visibility: hidden;
	position: absolute;
	top: 0;
	left: -5000px;
}

.psui-uploadable-image-img {
/*	width: inherit;
	height: inherit;*/
}

.psui-imageresizor-resizor{
	.psui-buttons-holder{
		.btn{
			color: $font-color-light;
		}
	}
	
	.psui-modal-dialog{
		@include media-mobile{
			margin: 0px;
		}
	}
	
	canvas{
		@include user-select(none);
	}
	
	.psui-modal-content{
		background-color: #000000;
		canvas{
			cursor: move;
			@include media-tablet{
				zoom: 1;
			}
			
			@include media-mobile{
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

.psui-imageresizor-result {
	position:absolute;
	left: $padding-base-horizontal;
	top: $field-padding-vertical;
	z-index:10;
}