// Devices
$device-mobile-tablet-width: 768px !default;
/*$device-tablet-width: 1024px !default;*/
$device-desktop-width: 1200px !default;

// Colors
$font-color-base: #333333 !default;
$font-color-dark: #636363 !default;
$font-color-light: #ffffff !default;
$page-bg: #ffffff !default;
$main-color: #fdb730 !default;


// Typography
$font-family-base: "Open Sans",helvetica,arial,sans-serif !default;
$font-size-base:          14px !default;
$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-mini:		  ceil(($font-size-base * 0.56)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

// Iconography
/*$icon-font-path: "../fonts/" !default;
$icon-font-name: "font" !default;
$icon-font-svg-id: "font" !default;
$icon-font-family: "font" !default;*/

// Header
$header-height: 46px !default;
$header-font-size: $font-size-base !default;
$header-line-height: floor(($header-font-size * $line-height-base));
$header-bg: $main-color !default;
$header-color-base: $font-color-base !default;
$header-light-bg: lighten($header-bg, 30%) !default;
$header-notification-color: red !default;
$header-box-shadow: lighten(#393a3c, 40%);

// Main Menu
$sidebar-open-width: 150px !default;
$sidebar-close-width: 55px !default;
$sidebar-border-color-dark: #000000 !default;
$sidebar-border-color-light: #393a3c !default;
$sidebar-dark-bg: #212123 !default;
$sidebar-light-bg: #2f3337 !default;
$sidebar-separator-bg: #262a2e !default;
$sidebar-color-base: $font-color-light !default;
$sidebar-color-light: $font-color-light !default;
$sidebar-color-dark: $sidebar-border-color-dark !default;
$sidebar-icon-size: 23px !default;
$sidebar-color-hover: $main-color;

// components
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

// from
$input-bg: #fafafa !default;
$input-border-color: #b0b0b0 !default;
$button-line-height: 1.43 !default;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$button-submit-bg: $main-color;
$button-submit-border-color: darken($button-submit-bg, 20%);

