.x-dropdown{
	position: relative;
	
	&.x-open{
		.x-dropdown-content{
			display: block;
		}
	}

	&.x-control input{
		padding-right: $dropdown-action-button-width;
	}
	
	.x-dropdown-content{
		display: none;
		position: absolute;
		right: 0px;
		top: 0px;
		margin-top: $dropdown-height;
		background-color: #ffffff;
		border-width: 1px;
		border-style: solid;
		border-color: #ddd;
		z-index: 2;
	}
	
	.x-dropdown-action{
		position: absolute;
		right: 0px;
		top: 0px;
		//z-index: 1;
		cursor: pointer;
		line-height: $dropdown-height;
		padding: 0px $dropdown-offset;
		span{
			display: none;
		}
		&:after{
			// @include icon-font($icon-calendar-empty);
		}
		&:hover{
			&:after{
				// content: $icon-calendar;
			}
		}
	}

	.x-dropdown-header, .x-dropdown-close{
		display: none;
	}

	.x-dropdown-content{
		@media (max-width: $screen-sm-max) {
			
			position: fixed;
			z-index: 100;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background-color: rgba(0,0,0,0.5);
			height: auto !important;
			width: auto !important;
			margin-top: 0px;

			.x-dropdown-content-inner{
				position: absolute;
				width: 90%;
				height: 90%;
				top: 5%;
				left: 0px;
				right: 0px;
				margin: 0px auto;
				background-color: #ffffff;
				box-sizing: border-box;
			}

			.x-dropdown-body{
				position: absolute;
				top: $fixed-header-height;
				bottom: 0px;
				width: 100%;
				padding: $modalview-body-offset;
				overflow-y: auto;
				box-sizing: border-box;
			}

			.x-dropdown-header{
				display: block;
				font-size: em(16px);
				line-height: em($fixed-header-height, 16px);
				height: $fixed-header-height;
				font-weight: bold;

				padding-right: $fixed-header-height;
				box-sizing: border-box;
				margin-top: 0px;
				padding-left: $modalview-body-offset;
				// background-color: transparent;
				// color: #ffffff;

			}

			.x-dropdown-close{
				display: block;
				position: absolute !important;
				right: 0px;
				top: 0px !important;
				left: initial !important;
				bottom: initial !important;
				background-color: transparent !important;
				width: $fixed-header-height;
				text-align: center;

				&:before{
					@include icon-font($icon-remove !important);
					font-size: em(18px);
					line-height: $fixed-header-height;
				}
			}
		}

		@media (max-width: $screen-xs-max) {
			.x-dropdown-content-inner{
				width: 100%;
				height: 100%;
				top: 0%;
				left: 0%;
			}
		}
	}
	
}

.x-dropdown-open-sm{
	.x-main-content{

		@media (max-width: $screen-sm-max) {
			overflow-x: visible;
		}
	}
	.x-fixed-header{
		z-index: 0;
	}

	.x-main-menu-toggle{
		visibility: hidden;
	}
}

.x-dropdown-open{
	@extend .x-dropdown-open-sm;

	.x-main-content{
		overflow-x: visible;
	}
}