.x-fieldset {
	display: table;
	width: 50%;
	float: left;
	padding: $fieldset-content-offset;
}

.x-fieldset-title {
	display: block;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	margin-bottom: $fieldset-offset;
}

.x-fieldset-title {
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	font-size: $font-size-middle;
	padding: 10px 0px;
	margin-bottom: 7.5px;
	border-bottom: 1px solid #b0b0b0;
}

div.x-fieldset-row {
	clear: both;
	position: relative;
	width: 100%;

	div.x-fieldset-col-2 {
		width: 16.666%;
		float: left;
		position: relative;
		margin-bottom: 8px;
		padding-left: 3px;
		padding-right: 3px;
	}

	div.x-fieldset-col-4 {
		width: 33.333%;
		float: left;
		position: relative;
		margin-bottom: 8px;
		padding-left: 3px;
		padding-right: 3px;
	}

	div.x-fieldset-label {
		width: 33%;
		float: left;
		position: relative;
		padding-top: 9px;

		&.x-required:after {
			content: '*';
			margin-left: 5px;
		}
	}

	div.x-fieldset-value {
		width: 66%;
		float: right;
		position: relative;
		margin-bottom: 8px;
	}

	input, select {
		width: 100%;
		padding: 4px 12px;
		background-color: #fafafa;
		box-shadow: none !important;
		border: 1px solid #b0b0b0;
		color: #555555;
		height: 34px;
	}
}

@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm) {
	.x-fieldset {
		width: 100%;
		min-width: 100%;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.x-fieldset {
		width: 100%;
		min-width: 100%;
	}

	.x-fieldset-label {
		display: block !important;
	}

	.x-fieldset-value {
		display: block !important;
	}

	.x-fieldset-content {
		.display: block;
	}
}