.x-fieldset {
	display: table;
	width: 50%;
	float: left;
	padding: $fieldset-content-offset;
	& &{
		display: block;
		width: 100%;
		float: none;
		padding: $fieldset-content-offset 0px;
	}
}

.x-fieldset-full{
	.x-fieldset, &.x-fieldset {
		width: 100%;
		float: none;
		display: block;
		clear: both;
	}
}

.x-fieldset-title {
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	font-size: $font-size-middle;
	padding: 10px 0px;
	margin-bottom: 7.5px;
	border-bottom: 1px solid #b0b0b0;
}

// .x-fieldset-value *{
// 	@include text-selectable();	
// }

div.x-fieldset-row {
	clear: both;
	position: relative;
	width: 100%;

	div.x-fieldset-col-2 {
		width: 16.666%;
		float: left;
		position: relative;
		margin-bottom: 8px;
		padding-left: 3px;
		padding-right: 3px;
	}

	div.x-fieldset-col-4 {
		width: 33.333%;
		float: left;
		position: relative;
		margin-bottom: 8px;
		padding-left: 3px;
		padding-right: 3px;
	}

	div.x-fieldset-label {
		width: 33%;
		float: left;
		position: relative;
		padding-top: 9px;
		word-wrap: break-word;

		&.x-required:after {
			content: '*';
			margin-left: 5px;
		}
	}

	div.x-fieldset-value {
		width: 66%;
		float: right;
		position: relative;
		margin-bottom: 8px;
	}

	input, select, textarea {
		width: 100%;
		padding: 4px 12px;
		background-color: #fafafa;
		box-shadow: none !important;
		border: 1px solid #b0b0b0;
	}

	input, select{
		height: 34px;
	}
	textarea{
			width: 100%;
			padding: 4px 12px;
			background-color: #fafafa;
			box-shadow: none !important;
			border: 1px solid #b0b0b0;
			color: #555555;
			min-height: 100px;
			resize:both;
	}

	@media (max-width: $screen-sm) {
		div.x-fieldset-col-2 {
			width: auto;
			float: none;
			margin-bottom: 8px;
		}

		div.x-fieldset-col-4 {
			width: auto;
			float: none;
			margin-bottom: 8px;
		}

		div.x-fieldset-label {
			width: auto;
			float: none;
			position: relative;
			padding-top: 9px;
		}

		div.x-fieldset-value {
			width: auto;
			float: none;
			position: relative;
			margin-top: 9px;
			margin-bottom: 8px;
		}
	}
}

@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm) {
	.x-fieldset {
		width: 100%;
		min-width: 100%;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.x-fieldset {
		width: 100%;
		min-width: 100%;
	}

	.x-fieldset-label {
		display: block !important;
	}

	.x-fieldset-value {
		display: block !important;
	}

	.x-fieldset-content {
		.display: block;
	}
}
