// Base Class Definition
// -------------------------
[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}


// Icons
// -------------------------
$icon-align-justify: $fa-var-align-justify !default;
$icon-pencil: $fa-var-pencil !default;
$icon-remove: $fa-var-remove !default;
