// Base Class Definition
// -------------------------
[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}

// variables
// -------------------------
$icon-align-justify: $fa-var-align-justify !default;
$icon-pencil: $fa-var-pencil !default;
$icon-remove: $fa-var-remove !default;
$icon-user: $fa-var-user!default;
$icon-power-off: $fa-var-power-off !default;
$icon-pencil: $fa-var-pencil !default;
$icon-calendar: $fa-var-calendar !default;
$icon-calendar-empty: $fa-var-calendar-o !default;

$icon-chevron-left: $fa-var-chevron-left !default;
$icon-chevron-right: $fa-var-chevron-right !default;

// icons
// -------------------------
.icon-glass:before { content: $icon-remove; }
.icon-user:before { content: $icon-user; }
.icon-power-off:before { content: $icon-power-off; }
.icon-pencil{ content: $icon-pencil; }