.x-inlineedit {
	display: table;
	width: 100%;
	position: relative;
	min-height: $inlineedit-min-height;
	outline: none;

	.x-inlineedit-content {
		display: table-cell;
		width: 100%;

		> :first-child{
			line-height: em($line-height);
		}

	}

	.x-inlineedit-buttons {
		position: absolute;
		right: 1px;
		bottom: 100%;
		white-space: nowrap;
		vertical-align: middle;

		// fix IE
		//margin-bottom: -1px;
		// background-color: white;

		.x-component-button {
			padding: $fieldset-offset;
			@media (max-width: $screen-sm-max){
				padding: $fieldset-offset-sm;
			}
		}	
	}

}

.x-inlineedit {
	border: 1px solid transparent;

	.x-inlineedit-content {
		// border: 1px solid white;
	}

	.x-inlineedit-buttons {
		// border-bottom: 0px solid white;
		// border-top: 1px solid $color4;
		// border-left: 1px solid $color4;
		// border-right: 1px solid $color4;
		//background-color: white;

		.x-component-button {
			// background-color: white;
		}	
	}
}


.x-inlineedit-edit-mode {
	.x-inlineedit-content {
		// border: 1px solid #aaaaaa;
	}
}

.x-inlineedit-active {
	border: 1px dashed black;
	@include transition(border .5s);
	// transition: border .5s;
	cursor: pointer;
}
.x-inlineedit:AFTER {
	@include icon-font($icon-pencil);
	position: absolute;
	right: 0;
	top: 0px;
	bottom: 0px;
	color: transparent;
}

.x-inlineedit-active:AFTER {
	@include icon-font($icon-pencil);

	padding: $inlineedit-view-active-icon-padding;
	// padding-top: 8px;
	// padding-right: 2px;
	// padding-left: 2px;
	position: absolute;
	right: 0;
	top: 0px;
	bottom: 0px;
	// background-color: rgba(200,200,200,0.5);
}

.x-array-control-item {
	position: relative;

	button.btn-clear.floating {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	div.x-select-edit {
		box-sizing: border-box;
		padding-left: 80px;
		width: auto;
	}
}
