// common
BODY, HTML {
	margin: 0 0 0 0;
	overflow: hidden;
}

body{
	/*font-size: 100%;
	line-height: 1;*/
	font-family: "Arial";
}

.x-zero-height {
	height: 0 !important;
	overflow: hidden;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

* {
	box-sizing: border-box;
}

.x-hidden {
	display: none;
}

.x-fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $fixed-header-height;
	z-index: 1;
}

.x-main-content {
	position: fixed;
	top: $fixed-header-height;
	right:0;
	bottom:0;
	left: 0;
	
	@media (min-width: $screen-md-min){
		left: $menu-width;
	}

	padding: 5px 5px 5px 5px;
	overflow-x: auto;
}

.x-form {
}

.x-form-title {
	font-size: 200%;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-component-button {
	cursor: pointer;

	SPAN {
		padding-left: 3px;
	}
}


.x-logo{
	line-height: $fixed-header-height;
	float: left;
	margin-left: $fixed-header-height;
	padding-left: 16px;
	@media (min-width: $screen-md-min){
		margin-left: 0px;
	}

	img{
		//height: 24px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
}

#login-form {
	fieldset {
		color: $color-text;
		border: none;
		width: 16 * $fixed-header-height;
		margin-top: $fixed-header-height * 2;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		a, a:HOVER, a:VISITED {
			color: $color-main;
		}

		.login-form-title {
			text-transform: uppercase;
			display: block;
			padding: 10px 0px;
			margin-bottom: 7.5px;
			border-bottom: 1px solid #b0b0b0;
			font-weight: bold;
			font-size: $font-size-middle;
		}
	
		.login-form-lang {
			position: absolute;
			right: 13px;
			top: 20px;
		}

		button {
			color: $color-main-reverse;
			background-color: $color-main;
			border-color: $color-main-darker;
			padding: 6px 12px;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 6px 12px;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			font-size: $font-size-middle;
			line-height: 1.42857;
		}
		
		button:hover, button:active {
			background-color: $color-main-highlight;
			border-color: $color-main-highlight-darker;
		}

		div.col-login-row {
			clear: both;
			margin-bottom: 4px;
			position: relative;

			div.col-login-label {
				width: 33%;
				float: left;
				position: relative;
				padding-top: 9px;
			}
	
			div.col-login-value {
				width: 66%;
				float: right;
				position: relative;
				
				input {
					width: 100%;
					padding: 4px 12px;
					background-color: #fafafa;
					box-shadow: none !important;
					border: 1px solid #b0b0b0;
					color: #555555;
					height: 34px;
				}
			}
		}

	}

}
