// common
BODY, HTML {
	margin: 0 0 0 0;
	overflow: hidden;
}

body{
	/*font-size: 100%;
	line-height: 1;*/
	font-family: "Arial";
}

.x-zero-height {
	height: 0 !important;
	overflow: hidden;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

* {
	box-sizing: border-box;
}

.x-hidden {
	display: none;
}

.x-fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $fixed-header-height;
	z-index: 1;
}

.x-main-content {
	position: fixed;
	top: $fixed-header-height;
	right:0;
	bottom:0;
	left: 0;
	
	@media (min-width: $screen-md-min){
		left: $menu-width;
	}

	padding: $content-offset;
	overflow-x: auto;
}



.x-form {
}

.x-form-title {
	font-size: 200%;
	font-weight: bold;
	padding-top: $content-offset;
	padding-bottom: $content-offset;
	padding-left: $content-offset;
}

.x-component-button {
	cursor: pointer;

	SPAN {
		padding-left: 3px;
	}
}


.x-logo{
	line-height: $fixed-header-height;
	float: left;
	margin-left: $fixed-header-height;
	padding-left: 16px;
	@media (min-width: $screen-md-min){
		margin-left: 0px;
	}

	img{
		//height: 24px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
}

#SelectedUser {
	width: 9 * $fixed-header-height;
	position: fixed;
	top: $fixed-header-height;
	right: 10px;

	fieldset {
		width: 9 * $fixed-header-height;
	}
	fieldset.in-sequence {
		margin-top: 0.4 * $fixed-header-height;
	}

	@media (max-width: 1267px) {
		width: auto;
		position: relative;
		top: 0px;
		right: 0px;

		fieldset {
			margin-top: 0px;
			width: 16 * $fixed-header-height;
		}
	}
	@media (max-width: $screen-sm) {
		fieldset {
			width: auto;
		}
	}
}

#SelectedGroup {
	width: 15 * $fixed-header-height;
	// position: fixed;
	// top: $fixed-header-height;
	right: 10px;

	fieldset {
		width: 15 * $fixed-header-height;
	}
	fieldset.in-sequence {
		margin-top: 0.4 * $fixed-header-height;
	}

	@media (max-width: 1267px) {
		width: auto;
		position: relative;
		top: 0px;
		right: 0px;

		fieldset {
			margin-top: 0px;
			width: 10 * $fixed-header-height;
		}
	}
	@media (max-width: $screen-sm) {
		fieldset {
			width: auto;
		}
	}
}

// #SelectedUser, #SelectedProfile, #SelectedGroup {


// 	.permissions {
// 		border: 1px solid #b0b0b0;
// 		padding: 0px;
// 		margin: 0px;
// 		width: 50%;
// 		float: left;

// 		header {
// 			position: relative;
// 			background-color: #b0b0b0;
// 			padding: 4px 12px;
// 			color: #ffffff;
// 		}
		
// 		section {
// 			height: 150px;
// 			overflow: auto;
			
// 			div {
// 				display: block;
// 				padding: 4px 12px 4px 12px;
// 				border-bottom: 1px dotted #ffffff;
// 				cursor: pointer;
// 				color: #666666;
// 				line-height: 1.42857;
// 			}
// 		}
// 	}
// }

button.btn-primary, a.btn-primary {
	padding: 6px 12px;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: $font-size-middle;
	line-height: 1.42857;
}

button.btn-secondary {
	padding: 6px 12px;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: $font-size-middle;
	line-height: 1.42857;
}

button.btn-clear {
	padding: 6px 12px;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: $font-size-middle;
	line-height: 1.42857;
	background: none;
}

button.btn-edit {
	padding: 6px 12px;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: $font-size-middle;
	line-height: 1.42857;
	background-color: #b0b0b0;
}

button.btn-floating {
	position: absolute;
}

.cancel-button-space-left {
	margin-left: 80px;
}

a:HOVER {
	text-decoration: underline;
}

.pull-right {
	text-align: right;
}

.clear {
	clear: both;
}

.pull-left {
	text-align: left;
}

.psui-attachment-remove {
	position: absolute;
	top: -8px;
	left: -80px;
}

.xpsui-uploadable-file-edit .psui-attachment-remove {
	top: 0px;
}

.psui-attachment-name {
	min-width: 70px;
	margin-bottom: 6px;
}

.psui-attachment-name em {
	font-size: 0.8em;
}

.xpsui-uploadable-file-edit {
	position: relative;
	margin-left: 80px;
}

.xpsui-uploadable-file-view .psui-attachment-name span {
	display: none;
}

.xpsui-uploadable-file-edit .psui-attachment-name a {
	display: none;
}

.xpsui-uploadable-file-edit-item button.btn-primary {
	margin-top: -7px;
}

.xpsui-uploadable-file-nofiles {
	margin-top: 10px;
}

a.forgotten {
	position: absolute;
	right: 7px;
	top: 9px;
}

.recaptchatable {
	width: 100%;
}

.hldiv {

	background-color: white; 
	color: black; 

		:HOVER {
			background-color: #fdb730;
			
		}
}
