.x-main-menu {
	position: fixed;
	top: $fixed-header-height;
	left: 0;
	width: $menu-width;
	bottom: 0;
	width: $menu-width;
	z-index: 2;
	
	.x-main-menu-toggle{
		cursor: pointer;
		position: fixed;
		left: 0px;
		top: 0px;
		width: $fixed-header-height;
		text-align: center;

		&:before{
			@include icon-font($icon-align-justify);
			// content: $icon-align-justify;
			font-size: em(18px);
			line-height: em($fixed-header-height, 18px);
		}
		
		@media (min-width: $screen-md-min){
			display: none;
		}
	}

	&.x-open{
		margin-left: 0px;
	}
}
