// screens
// ----------------------------------------
$screen-min: 320px !default;
//extra small devices
$screen-xs: 0px;

//small devices
$screen-sm: 768px !default; 
$screen-sm-min: $screen-sm !default;

//middle devices
$screen-md: 992px !default; 
$screen-md-min: $screen-md !default;

$screen-xs-max: $screen-sm - 1 !default;
$screen-sm-max: $screen-md - 1 !default;

// font
// ----------------------------------------
$icon-font: FontAwesome !default;

$font-size-bigger: 18px !default;
$base-font-size: 16px !default;
$font-size-middle: 14px !default;
$font-size-small: 12px !default;
$font-size-input: $font-size-middle !default;

$line-height: 20px !default;

// layout
// ----------------------------------------
$fixed-header-height: 40px !default;

// content
// ----------------------------------------
$content-offset: 15px;

// menu
// ----------------------------------------
$menu-width: 280px !default;
$menu-width-sm: 400px !default;
$menu-item-font-size: 16px !default;
$menu-item-height: 50px !default;
$menu-item-icon-height: 50px !default;
$menu-item-icon-width: 40px !default;
$menu-item-icon-offset: 10px !default;
$menu-item-bottom-offset: 20px !default;

// modalview
// ----------------------------------------
$modalview-body-offset: 10px !default;

// fieldset
// ----------------------------------------
$fieldset-item-min-height: 34px !default;
$fieldset-content-offset: $content-offset;
$fieldset-offset: 6px !default;
$fieldset-offset-sm: 14px !default;

// inlineedit
// ----------------------------------------
$inlineedit-min-height: $fieldset-item-min-height !default;
$inlineedit-view-active-icon-padding: 8px $fieldset-offset;

// string component
// ----------------------------------------
$string-font-size: $font-size-input !default;
$string-offset: $fieldset-offset !default;
$string-height: 32px !default;

// dropdown component
// ----------------------------------------
$dropdown-offset:  $fieldset-offset !default;
$dropdown-height: $string-height !default;
$dropdown-footer-font-size: $font-size-small;
$dropdown-footer-height: $dropdown-footer-font-size + 2 * $string-offset;
$dropdown-action-button-width: 28px !default;

// selectbox component
// ----------------------------------------
$selectbox-item-offset-sm:   $fieldset-offset-sm;

// calendar component
// ----------------------------------------
$calendar-action-base-offset:  $fieldset-offset;
$calendar-action-offset: $calendar-action-base-offset $calendar-action-base-offset;
$calendar-controll-offset: $calendar-action-base-offset;
$calendar-action-base-offset-sm:  $fieldset-offset-sm;

// date component
// ----------------------------------------
$date-dropdown-width: 260px;

// objectlink2 component
//-----------------------------------------
$objectlink2-item-font-size: $font-size-small;
$objectlink2-view-item-offset: 1em;

// objectlink2 component
//-----------------------------------------
$validation-mark-icon-size: 30px;
$validation-mark-color: red;
$validation-mark-bg: white;

// uploadable-image component
//-----------------------------------------
$uploadable-image-height: 150px;