// screens
// ----------------------------------------
$screen-min: 320px !default;
//extra small devices
$screen-xs: 0px;

//small devices
$screen-sm: 768px !default; 
$screen-sm-min: $screen-sm !default;

//middle devices
$screen-md: 992px !default; 
$screen-md-min: $screen-md !default;

$screen-xs-max: $screen-sm - 1 !default;
$screen-sm-max: $screen-md - 1 !default;

// font
// ----------------------------------------
$icon-font: FontAwesome;

$base-font-size: 16px;

// layout
// ----------------------------------------
$fixed-header-height: 40px !default;

// menu
// ----------------------------------------
$menu-width: 100px !default;