<section id="LoginForm" ng-app="doc.ui-ace" ng-cloak>
	     
    <form >

        <legend>Password modification</legend>
        <label>Current Password</label> 
        <input type="text" id="name" name="name" ng-model="currentPassword" placeholder="Current Password"> 

		<label>New Password</label> 
        <input type="text" id="name" name="newpaswword" ng-model="newPassword" placeholder="New Password">

        <button ng-click="changePassword()" class="btn btn-primary">Change Password</button>
	
    </form>
    
</section>