<section id="LoginForm" ng-app="doc.ui-ace" class="ng-scope">
	<form  name="registerForm" class="ng-pristine ng-valid form form-horizontal">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div ng-show="alert" class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong>Authentication failure!</strong> {{alert}}
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
