<section id="SearchPage" ng-app="doc.ui-ace" class="ng-scope">
	<form novalidate class="ng-pristine ng-valid form form-horizontal">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-10 col-lg-8 col-md-offset-0 psui-search">

					<fieldset>
						<legend>{{'generic.search.searching' | translate}} ({{entity}})</legend>
					</fieldset>

					<div class="row form-group psui-search-condition" ng-repeat="crit in searchCrit">

						<div class="col-sm-4">
							<!--<label for="name" class="control-label">{{'generic.search.atribute' | translate}}</label><br>-->
							<select class="form-control"
								ng-model="crit.attribute"
								ng-options="att.title for att in searchDef.attributes"></select>
						</div>
						<div class="col-sm-2">
							<!--<label for="name" class="control-label">{{'generic.search.operator' | translate}}</label><br>-->
							<select class="form-control"
								ng-model="crit.operator"
								ng-Init="crit.operator=searchDef.operators[0]"
								ng-options="op.title for op in searchDef.operators"></select>
						</div>
						<div class="col-sm-4">
							<!--<label for="name" class="control-label">{{'generic.search.value' | translate}}</label><br>-->
							<input type="text" id="name" name="name" ng-model="crit.value"
								placeholder="" class="ng-pristine ng-valid form-control"
								autocomplete="off">
						</div>
						<div class="col-sm-2">
							<!--<label class="control-label">&nbsp;</label><br>-->
							<button ng-click="removeCrit($index)" class="btn btn-secundary pull-right"><i class="glyphicon-remove"></i>{{'generic.search.remove' | translate}}</button>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-xs-9">
							<button ng-click="addCrit()" class="btn btn-secondary"><i class="glyphicon-plus"></i>{{'generic.search.add' | translate}}</button>
						</div>
						<div class="col-xs-3">
							<button ng-click="search()" class="btn btn-primary pull-right"><i class="glyphicon-search"></i>{{'generic.search.search' | translate}}</button>
						</div>
					</div>

<!--					<div class="form-group col-sm-12">
						<button ng-click="addCrit()" class="btn btn-secondary"><i class="glyphicon-plus"></i>{{'generic.search.add' | translate}}</button>
						<button ng-click="search()" class="btn btn-primary"><i class="glyphicon-search"></i>{{'generic.search.search' | translate}}</button>
					</div>-->

				</div>
			</div>
			<div class="row">
				<div ng-show="data" class="col-md-10 col-lg-8 col-md-offset-0">

					<fieldset>
						<legend>{{'generic.search.result.of.searching' | translate}}</legend>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr class="list-header">
										<th  ng-class=" {'psui-action-sort':true, 'psui-icon-chevron-up':(sortBy.header===header && sortBy.direction=='asc'),'psui-icon-chevron-down':(sortBy.header===header && sortBy.direction=='desc')}" ng-repeat="header in headers" ng-click="setSortBy(header)">{{header.title}}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="obj in data" ng-click="goView($index)"
										class="list-row">
										<td ng-repeat="header in headers">{{getVal("obj." +
											header.field)}} {{$eval("obj."+header.field)}}</td>
										<td class="psui-actions-holder">
											<span class="psui-btn psui-view-btn">
												<i></i><span>{{'generic.search.view' | translate}}</span>
											</span> 
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn btn-secundary pull-right" ng-click='searchNext()'> >>> </button>
					</fieldset>
				</div>
			</div>
		</div>
	</form>
</section>
