<section id="SearchPage" ng-app="doc.ui-ace" class="ng-scope">
	<form novalidate class="ng-pristine ng-valid form form-horizontal">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-10 col-lg-8 col-md-offset-0 psui-search">

					<fieldset>
						<legend>{{'generic.search.searching' | translate}} ({{entity}})</legend>


						<div class="row form-group psui-search-condition" ng-repeat="crit in searchCrit">

							<div class="col-sm-4">
								<select class="form-control" ng-change="selectedCritAttribute(crit)"
									ng-model="crit.attribute"
									ng-options="att.title group by att.group for att in searchDef.attributes"></select>
							</div>

							<div class="col-sm-2">
								<select class="form-control"
									ng-model="crit.operator"
									ng-Init="crit.operator=searchDef.operators[0]"
									ng-options="op.title for op in searchDef.operators" options-class='crit.attribute.class' >

								</select>
							</div>

							<div class="col-sm-4" ng-show="!crit.attribute.render">
								<input type="text" id="name" name="name" ng-model="crit.value"
									placeholder="" class="ng-pristine ng-valid form-control"
									autocomplete="off">
							</div>

							<div ng-show="crit.attribute.render.objectLink" class="col-sm-4 form-group">
								<psui-objectlink schema-fragment="crit.attribute.schemaFragment" ng-model="crit.obj" />
							</div>

							<div ng-show="crit.attribute.render.datepicker" class="col-sm-4">
								<input psui-datepicker class="form-control" schema-fragment="crit.attribute.schemaFragment" ng-model="crit.value" />
							</div>

							<div class="col-sm-2">
								<button ng-click="removeCrit($index)" type="button" class="btn btn-secundary pull-right"><i class="glyphicon-remove"></i>{{'generic.search.remove' | translate}}</button>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-xs-9">
								<button ng-click="addCrit()" type="button" class="btn btn-secondary"><i class="glyphicon-plus"></i>{{'generic.search.add' | translate}}</button>
							</div>
							<div class="col-xs-3">
								<button ng-click="search()" class="btn btn-primary pull-right"><i class="glyphicon-search"></i>{{'generic.search.search' | translate}}</button>
							</div>
						</div>
					</fieldset>

				</div>
			</div>
			<div class="row">
				<div ng-show="data!=null" class="col-md-10 col-lg-8 col-md-offset-0">

					<fieldset>
						<legend>{{'generic.search.result.of.searching' | translate}}</legend>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr class="list-header">
										<th  ng-class=" {'psui-action-sort':true, 'psui-icon-chevron-up':(sortBy.header===header && sortBy.direction=='asc'),'psui-icon-chevron-down':(sortBy.header===header && sortBy.direction=='desc')}" ng-repeat="header in headers" ng-click="setSortBy(header)">{{header.title}}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-show="data.length>0" ng-repeat="obj in data"
										class="list-row">
										<td ng-repeat="header in headers">{{getVal(header.field, $eval('obj.'+header.field))}}</td>
										<td class="psui-actions-holder">
											<a ng-href="{{getLink($index)}}" class="psui-btn psui-view-btn">
												<i></i><span>{{'generic.search.view' | translate}}</span>
											</a>
										</td>
									</tr>
									<tr ng-show="data.length==0"
										class="list-row">
										<td colspan="{{headers.length}}" >
											{{'generic.search.nodata.found'|translate}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>&nbsp;
						<div/>
						<div class="row form-group">
							<button class="btn btn-secundary "  ng-show="data" ng-click='exportCsv()'> {{'generic.search.export.csv' | translate}} </button>
							<button class="btn btn-secundary pull-right" ng-show="data" ng-click='searchNext()'> >>> </button>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</form>
</section>
