<form novalidate class="form form-horizontal">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" ng-controller="langSelectCtrl"><a href="#" ng-click="setLang('sk')">SK</a> | <a href="#" ng-click="setLang('cz')">CZ</a></div>
			<div class="col-md-6 col-md-offset-3">

				<fieldset>
					<legend>{{'login.title'|translate}}</legend>

					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">{{'login.loginName' | translate}}</label>
						<div class="col-sm-7">
							<input type="text" ng-model="user"
								placeholder="Login" class="form-control"
								autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">{{'login.password' | translate}}</label>
						<div class="col-sm-7">
							<input type="password" ng-model="password"
								placeholder="Password"
								class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">&nbsp;</div>
						<div class="col-sm-7">
							<button ng-click="login()" class="btn btn-primary">{{'login.title' | translate}}</button>
							<br> <br> <a href="#" ng-click="resetPassword()">{{'login.forgottenPassword' | translate}}</a>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</form>

