
<div class="sidebar active">
		<ul>
			<li psui-accordion-element title="{{'menu.member.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/member#'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/member#'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.player.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/player'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/player'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.referee.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/referee'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/referee'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.coach.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/coach'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/coach'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.stadium.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/stadium'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/stadium'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.club.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/club'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/club'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.person.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/person'|uriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
					<li><a href="#/search/{{'uri://registries/person'|uriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.my.profile.title' | translate}}" icon-class="glyphicon-user">
				<ul>
					<li><a href="#/personal-page"><span>{{'menu.profile.lower.level' | translate}}</span></a></li>
					<li><a href="#/personal-change-password"><span>{{'menu.change.password.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.permissions.title' | translate}}" icon-class="glyphicon-user">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/security#groupmaster'|uriescape}}" class="active"><span>{{'menu.new.group.lower.level' | translate}}</span></a></li>
					<li><a href="#/security/group/edit/"><span>{{'menu.permission.groups.lower.level' | translate}}</span></a></li>
					<li><a href="#/security/user/edit"><span>{{'menu.user.permissions.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="{{'menu.schemas.title' | translate}}" icon-class="glyphicon-info-sign">
				<ul>
					<li><a href="#/schema/edit"><span>{{'menu.schema.list.lower.level' | translate}}</span></a></li>
				</ul>
			</li>
		</ul>
</div>