<div class="sidebar">
	<section>
		<ul>
			<li><a href="#" class="active"><i class="glyphicon-list"></i><span>Register</span></a></li>
			<li><a href="#"><i class="glyphicon-th"></i><span>Comm.</span></a></li>
			<li><a href="#"><i class="glyphicon-glass"></i><span>Events</span></a></li>
			<li><a href="#"><i class="glyphicon-paperclip"></i><span>Documents</span></a></li>
			<li><a href="#" class="separator"><i class="glyphicon-euro"></i><span>Finance</span></a></li>
			<li><a href="#"><i class="glyphicon-repeat"></i><span>Requests</span></a></li>
		</ul>
	</section>
	<footer></footer>
</div>
<div class="sidebar submenu">

	<section>
		<ul>
			<li><a href="#"><i class="glyphicon-tasks"></i><span>List</span></a></li>
			<li><a href="#"><i class="glyphicon-plus"></i><span>Add</span></a></li>
			<li><a href="#"><i class="glyphicon-pencil"></i><span>Detail</span></a></li>
		</ul>
	</section>
	<footer></footer>
</div>
