<div class="sidebar active">
		<ul>
			<li><a href="#"><i class="glyphicon-list"></i><span>People</span></a>
				<ul>
					<li><a href="#/registry/new/peopleSchema" class="active"><span>New</span></a></li>
					<li><a href="#/search/person"><span>Search</span></a></li>
				</ul>
			</li>
			<li><a href="#"><i class="glyphicon-list"></i><span>Company</span></a>
				<ul>
					<li><a href="#/registry/new/companySchema" class="active"><span>New</span></a></li>
					<li><a href="#/search/company"><span>Search</span></a></li>
				</ul>
			</li>
			
			<li><a href="#"><i class="glyphicon-user"></i><span>My profile</span></a>
				<ul>
					<li><a href="#/personal-page" class="active"><span>Profil</span></a></li>
					<li><a href="#/personal-change-password"><span>Zmena hesla</span></a></li>
				</ul>
			</li>
			<li><a href="#/schema/list"><i class="glyphicon-info-sign"></i><span>Schema List</span></a></li>
			<li><a href="#"><i class="glyphicon-info-sign"></i><span>Contact</span></a></li>
		</ul>
</div>
