<div id="content">
		<h1>Nová osoba</h1>
		
		<form class="form form-horizontal">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<label><span>Základné údaje</span></label>
							<!--<div class="form-group has-warning">-->
							<div class="form-group require">
								<label for="input1" class="col-sm-4 control-label">Identifikátor</label>
								<div class="col-sm-8">
									<div class="input-group">
										<span class="input-group-action">
											<button class="btn warning" type="button"><i class="glyphicon-warning-sign"></i><span>error</span></button>
											<button class="btn" type="button"><i class="glyphicon-remove"></i><span>cancel</span></button>
											<button class="btn" type="button"><i class="glyphicon-ok"></i><span>error</span></button>
										</span>
										<input type="text" class="form-control" id="input1" placeholder="" /> 
									</div>
								</div>
							</div>
							<div class="form-group require">
								<label for="input2" class="col-sm-4 control-label">Meno</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" id="input2" placeholder="">
									</div>
								</div>
							</div>
							<div class="form-group has-warning require">
								<label for="input3" class="col-sm-4 control-label">Priezvisko</label>
								<div class="col-sm-8">
									<div class="input-select-box input-group">
										<span class="input-group-action">
											<button class="btn warning" type="button"><i class="glyphicon-warning-sign"></i><span>error</span></button>
											<button class="btn" type="button"><i class="glyphicon-remove"></i><span>cancel</span></button>
											<button class="btn" type="button"><i class="glyphicon-ok"></i><span>error</span></button>
										</span>
										<input type="text" class="form-control" id="input1" placeholder="" /> 
										<span class="input-group-button">
											<button class="btn" type="button"><i class="glyphicon-chevron-down"></i></button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="input4" class="col-sm-4 control-label">Rodné priezvisko</label>
								<div class="col-sm-8">
									<div class="view-group">
										<span class="view-block">Hraško sfdwafa sfawf asfq wefa sf waf asf asfweaf asdf asfwef asddf wef asdfasdfwaeef asdfd awerfasdf awef<br/>test<br/>test3</span>
										<span class="view-icon"><i class="glyphicon-pencil"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputť" class="col-sm-4 control-label">Titul</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="inputť" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input6" class="col-sm-4 control-label">Dátum narodenia</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input6" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input4" class="col-sm-4 control-label">Pohlavie</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input4" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input7" class="col-sm-4 control-label">Štatna prislusnosť</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input7" placeholder="">
								</div>
							</div>
						</fieldset>

					</div>
					<div class="col-md-6">
						<fieldset>
							<label><span>Kontaktné údaje</span></label>
							<div class="form-group">
								<label for="input8" class="col-sm-4 control-label">Ulica</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input8" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input9" class="col-sm-4 control-label">Číslo domu</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input9" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input10" class="col-sm-4 control-label">Obec</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input10" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input11" class="col-sm-4 control-label">PSČ</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input11" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input12" class="col-sm-4 control-label">Štát</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input12" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input13" class="col-sm-4 control-label">Telefón</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input13" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input14" class="col-sm-4 control-label">Mobil</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input14" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input15" class="col-sm-4 control-label">E-mail</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input15" placeholder="">
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<label><span>Bankové spojenie</span></label>
							<div class="form-group has-warning">
								<label for="input1" class="col-sm-4 control-label">Číslo účtu</label>
								<div class="col-sm-8">
										<input type="text" class="form-control" id="input1" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input2" class="col-sm-4 control-label">Kód banky</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input2" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input3" class="col-sm-4 control-label">IBAN</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input3" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input4" class="col-sm-4 control-label">SWIFT</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input4" placeholder="">
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-md-6">
						<fieldset>
							<label><span>Ostatné údaje</span></label>
							<div class="form-group">
								<label for="input8" class="col-sm-4 control-label">Je fotka verejná</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input8" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input9" class="col-sm-4 control-label">Číslo OP</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input9" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="input10" class="col-sm-4 control-label">Poznámka</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="input10" placeholder="">
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				
				<div class="btn-group pull-right">
					<button type="submit" class="btn btn-cancel"><i class="glyphicon-remove"></i>Zrušiť</button>
					<button type="submit" class="btn btn-ok"><i class="glyphicon-ok"></i>Odoslať</button>
				</div>
			</div>
		</form>
</div>

