<section id="RegistryNew">
<form novalidate name="newForm" psui-form-ctrl class="form form-horizontal">
	<div class="container-fluid">
		<div psui-schema-form="schemaFormOptions"></div>
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary btn-cancel" ng-click="cancel()" ><i class="glyphicon-remove"></i>{{'registry.new.cancel' | translate}}</button>
					<button type="button" class="btn btn-primary btn-ok" ng-click="save()" ng-disabled="newForm.$pristine"><i class="glyphicon-ok"></i>{{'registry.new.send' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</form>
</section>

