<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-lg-5">
			<fieldset>
				<legend>Zoznam schém na editáciu</legend>
				
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Názov</th>
								<th>Veľkosť</th>
								<th> </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schema in schemaList">
								<td>{{$index + 1}}</td>
								<td>{{schema.name}}</td>
								<td>{{schema.size}}</td>
								<!-- <td class="btn-group btn-group-xs"><a href="{{ '#/schema/edit/'+schema.name}}" class="btn btn-default">edit</a></td> -->
								<td class="psui-actions-holder">
									<span class="psui-btn psui-edit-btn" ng-click="selectSchema(schema)">
										<i></i><span>upraviť</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>

		<div class="col-md-12 col-lg-7">
			<div class="form form-horizontal" ng-show="selectedSchema" >
				<fieldset>
					<legend>Editácia schémy</legend>
					
					<div class="form-group">
						<section class="col-md-12" ng-show="selectedSchema" id="editor"  ng-cloak >
							<div>
								<div style="height: 400px;"
								ui-ace="{
									useWrapMode : true,
									showGutter: true,
									theme: 'twilight',
									mode: 'json',
									onLoad: aceLoaded
								}"
								ng-model="aceModel">
									Ace here
								</div>
							</div>
						</section>
					</div>
				</fieldset>
				<div class="form-group">
					<div class="col-md-12">
						<button ng-click="postData(aceModel)" class="btn btn-primary pull-right">
							<i class="glyphicon-ok"></i>Uložiť
						</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
