


<section id="SearchPage" ng-app="doc.ui-ace" class="ng-scope">
	<form novalidate class="ng-pristine ng-valid form form-horizontal">
		<div class="container">
			<div class="row">

				<div class="col-md-7 col-md-offset-0">

					<div ng-show="alert" class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong>Validácia zlyhala</strong> {{alert}}
					</div>

					<fieldset>
						<legend>Vyhľadávanie ({{entity}})</legend>
					</fieldset>

					<div class="row" ng-repeat="crit in searchCrit">

						<div class="form-group col-sm-5">
							<label for="name" class="control-label">Atribút</label><br>
							<select ng-model="crit.attribute.path"
								ng-options="att.title for att in searchDef.attributes"></select>
						</div>
						<div class="form-group col-sm-2">
							<label for="name" class="control-label">Operátor</label><br>
							<select ng-model="crit.operator"
								ng-Init="crit.operator=searchDef.operators[0]"
								ng-options="op.title for op in searchDef.operators"></select>
						</div>
						<div class="form-group col-sm-2">
							<label for="name" class="control-label">Hodnota</label><br>
							<input type="text" id="name" name="name" ng-model="crit.value"
								placeholder="value" class="ng-pristine ng-valid form-control"
								autocomplete="off">

						</div>
						<div class="form-group col-sm-2">
							<br>
							<button ng-click="removeCrit($index)" class="btn btn-secundary">Zrušiť</button>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<button ng-click="addCrit()" class="btn btn-secondary">Pridať</button>


					</div>
					<div class="form-group col-sm-2">
						<button ng-click="search()" class="btn btn-primary">Hľadať</button>
					</div>

				</div>

				<div ng-show="data" class="col-md-7 col-md-offset-0">

					<fieldset>
						<legend>Výsledok vyhladávania</legend>

						<table>
							<thead>
								<tr>
									<th>oid</th>
									<th>id</th>
									<th>name</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in data" ng-click="goView($index)">

									<td>{{d.id}}</td>
									<td>{{d.baseData.id}}</td>
									<td>{{d.baseData.name}}</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>

			</div>
		</div>
		</div>
	</form>
</section>
