	
	
<div class="container">
		<div class="row">
			<fieldset>
				<legend>Zoznam pouzivatelov na editáciu</legend>
			</fieldset>

			<div class="col-md-6">
				<table class="bootstrap">
					<thead>
						<tr>
							<th>ID</th>
							<th>Názov</th>
							<th>Veľkosť</th>
							<th>Akcie</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in userList">
							<td>{{$index + 1}}</td>
							<td>{{user.systemCredentials.login.loginName}}</td>
							<td class="btn-group btn-group-xs"> <a href="" ng-click='selectUser(user)' class="btn btn-default">edit</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div ng-show="selectedUser" class="container">
	
		<div class="row">
			<fieldset>
				<legend>Práva pre používateľa - {{selectedUser.systemCredentials.login.loginName}}</legend>
			</fieldset>
			<div class="col-md-6 permissions">
				<p>Pridelené práva</p>
				<table border="1">
					<tbody>
						<tr ng-repeat="perm in user.permissions">
							<td><a href="" ng-click="removePermission(perm)"><i class="glyphicon glyphicon-minus"></i></a>&nbsp;</a></td>
							<td  ng-click="removePermission(perm)" >{{perm}}</td>
						</tr>
					</tbody>

				</table>
			</div>

			<div class="col-md-6 permissions">
				<p>Dostupné práva</p>
				<table border="1">
					<tbody >
						<tr ng-repeat="perm in permissions">
							<td><a href="" ng-click="addPermission(perm)"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;</td>
							<td ng-click="addPermission(perm)">{{perm}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<button ng-click="updatePermissions()" class="btn btn-primary">Uložiť</button>
		</div>

	</div>
