<div id="main-wrapper">
	<header>
		<div class="logo-wrapper">
			<img src="img/logo.svg">
		</div>
	</header>

	<div class="container">
		<div class="row">
			<fieldset>
				<legend>Práva pre používateľa {{user.loginName}}</legend>
			</fieldset>
			<div class="col-md-6 permissions">
				<p>Pridelené práva</p>
				<table border="1">
					<tbody>
						<tr ng-repeat="perm in user.permissions">
							<td><a href="" ng-click="removePermission(perm)"><i class="glyphicon glyphicon-minus"></i></a>&nbsp;</a></td>
							<td  ng-click="removePermission(perm)" >{{perm}}</td>
						</tr>
					</tbody>

				</table>
			</div>

			<div class="col-md-6 permissions">
				<p>Dostupné práva</p>
				<table border="1">
					<tbody >
						<tr ng-repeat="perm in permissions">
							<td><a href="" ng-click="addPermission(perm)"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;</td>
							<td ng-click="addPermission(perm)">{{perm}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<button ng-click="updatePermissions()" class="btn btn-primary">Uložiť</button>
		</div>

	</div>
</div>