<section id="SearchPage" ng-app="doc.ui-ace" class="ng-scope">
	<form novalidate class="ng-pristine ng-valid">
		<div >
			<div>

				<div>

					<fieldset>
						<span class="x-fieldset-title">{{'generic.search.searching' | translate}} ({{entity}})</span>


						<div ng-repeat="crit in searchCrit" class="x-fieldset-row">

							<div class="x-fieldset-col-4">
								<select ng-change="selectedCritAttribute(crit)"
									ng-model="crit.attribute"
									ng-options="att.title group by att.group for att in searchDef.attributes"></select>
							</div>

							<div class="x-fieldset-col-2">
								<select
									ng-model="crit.operator"
									ng-Init="crit.operator=searchDef.operators[0]"
									ng-options="op.title for op in searchDef.operators" options-class='crit.attribute.class' >

								</select>
							</div>

							<div ng-show="!crit.attribute.render" class="x-fieldset-col-4">
								<input type="text" id="name" name="name" ng-model="crit.value"
									placeholder="" class="ng-pristine ng-valid"
									autocomplete="off">
							</div>

							<div ng-show="crit.attribute.render.objectLink" class="x-fieldset-col-4">
								<psui-objectlink schema-fragment="crit.attribute.schemaFragment" ng-model="crit.obj" />
							</div>

							<div ng-show="crit.attribute.render.datepicker" class="x-fieldset-col-4">
								<input psui-datepicker schema-fragment="crit.attribute.schemaFragment" ng-model="crit.value" />
							</div>

							<div class="x-fieldset-col-2 pull-right">
								<button ng-click="removeCrit($index)" type="button" class="btn-clear"><i class="icon-remove"></i> {{'generic.search.remove' | translate}}</button>
							</div>
						</div>

						<div class="x-fieldset-row">
							<div class="x-fieldset-col-4">
								<button ng-click="addCrit()" type="button" class="btn-secondary"><i class="icon-add"></i> {{'generic.search.add' | translate}}</button>
							</div>
							<div class="x-fieldset-col-2">&nbsp;</div>
							<div class="x-fieldset-col-2">&nbsp;</div>
							<div class="x-fieldset-col-4 pull-right">
								<button ng-disabled="disabledSearch" ng-click="search()" class="btn-primary"><i class="icon-search"></i> {{'generic.search.search' | translate}}</button>
							</div>
						</div>
					</fieldset>

				</div>
			</div>
			<div>
				<div ng-show="data!=null">

					<fieldset>
						<span class="x-fieldset-title">{{'generic.search.result.of.searching' | translate}}</span>
						<div class="table-container">
							<table >
								<thead>
									<tr>
										<th  ng-class=" {'action-sort':true}" 
												ng-repeat="header in headers" 
												class="data-col"
												ng-click="setSortBy(header)">
													{{header.title}}
													<icon ng-class="{'icon-chevron-up':(sortBy.header===header && sortBy.direction=='asc'),'icon-chevron-down':(sortBy.header===header && sortBy.direction=='desc')}"></icon>
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-show="data.length>0" ng-repeat="obj in data"
										>
										<td ng-repeat="header in headers" >{{getVal(header.field, $eval('obj.'+header.field))}}</td>
										<td class="psui-actions-holder">
											<a ng-href="{{getLink($index)}}" class="psui-btn psui-view-btn">
												<i class="icon-open"></i> <span>{{'generic.search.view' | translate}}</span>
											</a>
										</td>
									</tr>
									<tr ng-show="data.length==0"
										>
										<td colspan="{{headers.length}}" >
											{{'generic.search.nodata.found'|translate}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>&nbsp;
						<div/>
						<div class="x-fieldset-row">
							<div class="x-fieldset-col-4">
								<button ng-show="data" ng-click='exportCsv()' class="btn-secondary"> {{'generic.search.export.csv' | translate}} </button>
							</div>
							<div class="x-fieldset-col-4">&nbsp;</div>
							<div class="x-fieldset-col-4 pull-right">
								<button ng-show="data" ng-click='searchNext()' class="btn-secondary"> >>> </button>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</form>
</section>
