<section id="LoginForm" ng-app="doc.ui-ace" class="ng-scope">
	<form novalidate >
		<div>
			<div>
				<div>
					<fieldset>
						<span class="x-fieldset-title">{{'personal.change.password.change.password' | translate}}</span>

						<div class="x-fieldset-row">
							<div class="x-fieldset-label">
								<label for="name">{{'personal.change.password.current.password' | translate}}</label>
							</div>
							<div class="x-fieldset-value">
								<input type="password" id="name" name="name" ng-model="currentPassword"
									placeholder="{{'personal.change.password.current.password' | translate}}"
									autocomplete="off">
							</div>
						</div>

						<div class="x-fieldset-row">
							<div class="x-fieldset-label">
								<label for="pwd">{{'personal.change.password.new.password' | translate}}</label>
							</div>
							<div class="x-fieldset-value">
								<input type="password" id="pwd" name="pwd" ng-model="newPassword"
									placeholder="{{'personal.change.password.new.password' | translate}}"
									autocomplete="off">
							</div>
						</div>


						<div class="x-fieldset-row">
							<div class="x-fieldset-label">
								<label for="pwd-check"></label>
							</div>
							<div class="x-fieldset-value">
								<input type="password" id="pwd-check" name="pwd-check" ng-model="newPasswordCheck"
									placeholder="{{'personal.change.password.new.password.check' | translate}}"
									autocomplete="off">
							</div>
						</div>
						
						<div class="x-fieldset-row">
							<div class="x-fieldset-value pull-right">
								<button ng-click="changePassword()" class="btn-primary"><i class="icon-check"></i> {{'personal.change.password.change.password' | translate}}</button>
							</div>
						</div>
						
					</fieldset>
				</div>
			</div>
		</div>
	</form>
</section>
