<h1>Portálový editor</h1>
<fieldset class="form-group" style="background-color: black; padding: 10px;" ng-show="mode !== 'edit'">
<div class="btn-group pull-right">
	<button class="btn btn-primary btn-ok" ng-click="edit();"><i class="icon-pencil"></i> Editovať</button>
	<button class="btn btn-primary btn-ok" ng-click="addNew();"><i class="icon-add-circle"></i> Nový</button>
</div>
</fieldset>
<div ng-show="mode === 'edit'">
<fieldset class="form-group" style="background-color: black; padding: 10px;">
<div class="btn-group">
	<button class="btn btn-primary btn-ok" ng-click="showBlockSelector();"><i class="icon-add-circle"></i> Pridať blok</button>

	<div class="pull-right">
		<button class="btn btn-secondary btn-cancel" ng-click="cancel();"><i class="icon-remove"></i> Zrušiť</button>
		<button class="btn btn-primary btn-ok" ng-click="save();"><i class="icon-check"></i> Uložiť</button>
	</div>
</div>
</fieldset>
<form class="form">
<fieldset style="background-color: black; padding: 10px;" ng-show="mode === 'edit'">
<div style="background-color: white; padding: 10px;">
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Názov:</label>
		</div>
		<div class="x-fieldset-value">
			<div xpsui-string-edit ng-model="model.meta.title"></div>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Template:</label>
		</div>
		<div class="x-fieldset-value">
			<select ng-model="model.meta.template" class="form-control" ng-options="template.meta.template as name for (name, template) in templates" ng-change="templateChanged();"></select>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Publikovať?:</label>
		</div>
		<div class="x-fieldset-value">
			<input type="checkbox" ng-model="model.meta.enabled"></input>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Publikovať od:</label>
		</div>
		<div class="x-fieldset-value">
			<div xpsui-date-edit xpsui-calendar ng-model="model.meta.publishFrom"></div>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label >Tagy:</label>
		</div>
		<div class="x-fieldset-value">
			<div xpsui-multistring-edit ng-model="model.meta.tags"></div>
		</div>
	</div>
	<div class="x-fieldset-row">
		&nbsp;
	</div>
</div>
</form>
</fieldset>
</div>

</div>
<div id="portal-edit-block-selector" ng-show="blockSelectorShown" style="position:fixed; top:0; width: 100%; height: 100%; left:0; background-color: rgba(128,128,128,0.5); z-index: 5; display: table;">
	<div class="portal-edit-block-outer">
		<div class="portal-edit-block-inner">
			<div style="float: right;">
				<a ng-click="hideBlockSelector();"><i class="icon-remove"></i></a>
			</div>
			<div style="color: white;">Výber bloku</div>
			<div class="portal-edit-block-scroller" >
				<table class="portal-edit-block-selector-block" style="background-color: black;">
					<tr ng-repeat="(name, block) in blocks" ng-click="selectBlock(name)">
						<td style="padding: 10px;"><img ng-src="{{block.meta.icon}}" /></td>
						<td style="padding: 10px; color: white;">
							<div ng-bind-html="makeSafe(block.meta.desc);"></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<section id="portal-editor-edit" ng-include="getViewTemplate()">
<section>

