<h1>Portálový editor</h1>
<fieldset class="form-group" style="background-color: black; padding: 10px;" ng-show="mode !== 'edit'">
<div class="btn-group pull-right">
	<button class="btn btn-primary btn-ok" ng-click="edit();"><i class="icon-pencil"></i> Editovať</button>
	<button class="btn btn-primary btn-ok" ng-click="addNew();"><i class="icon-add-circle"></i> Nový</button>
</div>
</fieldset>
<div ng-show="mode === 'edit'">
<fieldset class="form-group" style="background-color: black; padding: 10px;">
<div class="btn-group">
	<button class="btn btn-primary btn-ok" ng-click="showBlockSelector();"><i class="icon-add-circle"></i> Pridať blok</button>

	<div class="pull-right">
		<button class="btn btn-secondary btn-cancel" ng-click="cancel();"><i class="icon-remove"></i> Zrušiť</button>
		<button class="btn btn-primary btn-ok" ng-click="save();"><i class="icon-check"></i> Uložiť</button>
	</div>
</div>
</fieldset>
<form class="form">
<fieldset style="background-color: black; padding: 10px;" ng-show="mode === 'edit'">
<div style="background-color: white; padding: 10px;">
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Názov:</label>
		</div>
		<div class="x-fieldset-value">
			<div xpsui-string-edit ng-model="model.meta.title"></div>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Template:</label>
		</div>
		<div class="x-fieldset-value">
			<select ng-model="model.meta.template" class="form-control" ng-options="template.meta.template as name for (name, template) in templates" ng-change="templateChanged();"></select>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Publikovať?:</label>
		</div>
		<div class="x-fieldset-value">
			<input type="checkbox" ng-model="model.meta.enabled"></input>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label>Publikovať od:</label>
		</div>
		<div class="x-fieldset-value">
			<div xpsui-date-edit xpsui-calendar ng-model="model.meta.publishFrom"></div>
		</div>
	</div>
	<div class="x-fieldset-row">
		<div class="x-fieldset-label">
			<label >Tagy:</label>
		</div>
		<div class="x-fieldset-value">
			<div xpsui-multistring-edit ng-model="model.meta.tags"></div>
		</div>
	</div>
	<div class="x-fieldset-row">
		&nbsp;
	</div>
</div>
</form>
</fieldset>
</div>

</div>
	<div id="portal-edit-block-selector" ng-show="blockSelectorShown">
		<div class="portal-edit-block-outer gridStyle">
			<div class="portal-edit-block-inner" style="height: 100%;background: transparent;">
				
					<div class="modal-header">
						<div style="float: right; height: 30px; font-size: 24px;  padding-left: 10px; margin-top: 0px;">
							<a ng-click="hideBlockSelector();"><i ng-mouseover="hoverCloseWhite();" ng-mouseleave="hoverCloseBlack();" class="action-button icon-remove" style="color:{{color}};"></i></a>
						</div>
						<div style="font-size: 16px; font-weight: bold; color: #333333; height: 30px; padding-left: 10px; padding-right: 40px; margin-top: 7px;">Výber bloku</div>
					</div>
				<div class="modal">
					<div class="scroller"><div style="position: relative; background-color: white; width: auto; height: auto;">
				 		<div class="portal-edit-block-selector-block grid">
							<div ng-repeat="(name, block) in blocks" ng-click="selectBlock(name)" class="col-1-1" >
								<div ng-mouseover="hoverShowDesc(block.meta.desc);" align="center" style="padding: 10px; text-align=center; word-wrap: break-word; word-break: break-all;white-space:normal;" align="center">
									<div>
										<div>
											<img ng-src="{{block.meta.icon}}" width="103px" height="103px"/>
										</div>
										<div style="color: black; font-size: 16px;align: top">
											<h4 ng-bind-html="makeSafe(block.meta.title);"></h4>
										</div>
									</div>
								</div>
							</div>
						</div></div>
					</div>

				</div>
				<div class="modal-footer">
						<div class="block-footer">Description:
							<div class="desc">{{msg}}</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="portal-editor-edit" ng-include="getViewTemplate()">
<section>

