<section>
<form novalidate>
	<fieldset>
	<div style="display: flex; flex-direction: row; padding-bottom: 3px;" ng-repeat="crit in searchCrits">
		<div style="flex-direction: column; flex: 0 0 auto; padding-right: 3px;"><select style="font-size: 1em; line-height: 1.25em; height: 32px; background-color: #fafafa;" ng-options="d.name group by [d.group] for d in schemaFields" ng-model="crit.field" ng-change=""></select></div>
		<div style="flex-direction: column; flex: 0 0 auto; padding-right: 3px;"><select style="font-size: 1em; line-height: 1.25em; height: 32px; background-color: #fafafa;" ng-options="o.text for o in allOps" ng-model="crit.op"></select></div>
		<div style="flex-direction: column; flex: 1 0 auto;" xpsui-by-schema-field-edit xpsui-schema="{{crit.field.path ? 'schema.' + objectPathToSchemaPath(crit.field.path) : null}}" xpsui-model="crit.val"></div>
		<div style="flex-direction: column; flex: 0 0 auto;"><button ng-click="removeCrit($index)" type="button" class="btn-clear"><i class="icon-remove"></i> Zrušiť</button></div>
	</div>
	<div style="display: flex; flex-direction: row;">
		<div style="flex-direction: column; flex: 1 0 auto;">
			<button ng-click="addNewCrit()" type="button" class="btn-secondary"><i class="icon-add"></i> Pridať</button>	
		</div>
		<div style="flex-direction: column; flex: 0 0 auto; align-content: flex-end;">
			<button ng-click="search()" type="button" class="btn-primary"><i class="icon-search"></i> Hľadať</button>	
		</div>
	</div>
	</fieldset>
</form>
<fieldset>
	<span class="x-fieldset-title">Výsledok vyhľadávania</span>
	<div class="search-header" style="display:flex; flex-direction: row; flex-wrap: wrap; background-color: #b0b0b0; color: white;">
		<div ng-repeat="f in schema.listFields" style="padding: 8px 8px 8px 8px; white-space: nowrap; flex-direction: column; flex: 1 0 150px; overflow: hidden; position: relative;">{{f.transCode|translate}}<i ng-show="f.field == currSort.field" class="icon-chevron-up" style="position: absolute; right: 0; padding-right: 10px; padding-left: 3px; background-color: #b0b0b0;"></i></div><div style="flex: 1 0 150px;"></div>
	</div>
	<div ng-repeat="d in data" style="display:flex; flex-direction: row; flex-wrap: wrap; background-color: white; color: black; border-bottom: 1px solid #ddd;">
		<div ng-repeat="f in schema.listFields" style="white-space: nowrap; flex-direction: column; flex: 1 0 150px; overflow: hidden; position: relative;" xpsui-by-schema-field-view xpsui-schema="{{'$parent.$parent.schema.' + objectPathToSchemaPath(f.field)}}" xpsui-model="$parent.d[f.field]">x</div><div class="psui-actions-holder" style="padding: 6px; flex: 1 0 auto;"><a style="color: black;"><i class="icon-open"></i> <span>Zobraziť</span></a></div>
	</div>
</fieldset>
</section>
