.psui-dropdown{
	position: absolute;
}

.psui-wrapper > .psui-dropdown {
	right: 0px;
	z-index: 5;
	top: 34px;
	
	&:not([class*="psui-hidden"]){
		~ .psui-buttons-holder {
			.psui-icon-chevron-down{
				@include rotate(180deg);
			}
		}
	}
}
 