#content {
	
	padding-bottom: $footer-height + $content-padding;
	position: relative;
	@include media-desktop-max{
		padding-bottom: $footer-height-small + $content-padding;
	}
	
	@include media-mobile{
		padding-bottom: $footer-height-xs + $content-padding;
	}
		
		
	> footer{
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: $footer-height;
		font-size: $footer-font-size;
		
		@include media-desktop-max{
			height: $footer-height-small;
		}
		@include media-mobile{
			height: $footer-height-xs;
		}
		
		
		.footer-content{
			margin: 0px $content-padding;
			padding: $content-padding/2  0px;
			border-top: 1px solid $input-border-color; 
		}
		
		div{
			padding: 0px;
		}
		
		.version{
			@include media-desktop{
				text-align: right;
			}
		}
	}
}