// Catchall baseclass
[class^="psui-icon-"]:before, [class*=" psui-icon-"]:before{
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: $icon-font-family;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Individual icons
.psui-icon-chevron-down{ &:before { content: "\e114"; } }
.psui-icon-chevron-up{ &:before { content: "\e113"; } }
.psui-icon-calendar{ &:before { content: "\e109"; } }
.psui-icon-rotate{ &:before { content: "\e030"; } }
.psui-icon-ok{ &:before { content: "\e013"; } }
.psui-icon-search{ &:before { content: "\e003"; } }

// Import the fonts
@font-face {
  font-family: $icon-font2-family;
  src: url(if($psui-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font2-name}.eot'), '#{$icon-font-path}#{$icon-font2-name}.eot'));
  src: url(if($psui-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font2-name}.eot?#iefix'), '#{$icon-font-path}#{$icon-font2-name}.eot?#iefix')) format('embedded-opentype'),
       url(if($psui-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font2-name}.woff'), '#{$icon-font-path}#{$icon-font2-name}.woff')) format('woff'),
       url(if($psui-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font2-name}.ttf'), '#{$icon-font-path}#{$icon-font2-name}.ttf')) format('truetype'),
       url(if($psui-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font2-name}.svg##{$icon-font2-svg-id}'), '#{$icon-font-path}#{$icon-font2-name}.svg##{$icon-font2-svg-id}')) format('svg');
}