.psui-datepicker-dropdown table {
	border-spacing:0px;
}
.psui-datepicker-dropdown table td {
	text-align: center;
	padding: 3px 5px;
}
.psui-datepicker-dropdown table tr.days {
	font-weight: bold;
}
.psui-datepicker-dropdown table tr.month {
	font-weight: bold;
	background-color: #ccc;
}
.psui-datepicker-dropdown table td.other {
	color: #ccc;
}

.psui-datepicker-dropdown{
	width:225px;
	height:198px;
	overflow-y: hidden;
}

.psui-datepicker-dropdown table{
	width:208px;
	height:198px;
}