<!doctype html>
<html>
<head>
	<title>psui-autocomplete-demo</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-route/angular-route.js"></script>
	<script src="js/psui.js"></script>
	<script src="js/psui-autocomplete.js"></script>
	<script src="js/psui-contenteditable.js"></script>
	<script src="js/psui-selectbox.js"></script>
	<script src="js/psui-datepicker.js"></script>
	<script src="js/psui-imageresizor.js"></script>
	<script src="js/psui-notification.js"></script>
	<script src="js/psui-demo.js"></script>
	<script src="js/psui-uploadable-image.js"></script>
	<script src="lib/rangy/rangy-core.js"></script>
	<script src="lib/rangy/rangy-selectionsaverestore.js"></script>
	<script src="lib/rangy/rangy-serializer.js"></script>
	<script src="lib/rangy/rangy-cssclassapplier.js"></script>
	<script src="lib/ace-builds/src-min-noconflict/ace.js"></script>
	<script src="lib/angular-ui-ace/ui-ace.js"></script>
	

	<link rel="stylesheet" type="text/css" href="css/psui.css">
	<link rel="stylesheet" type="text/css" href="css/psui-autocomplete.css">
	<link rel="stylesheet" type="text/css" href="css/psui-contenteditable.css">
	<link rel="stylesheet" type="text/css" href="css/psui-selectbox.css">
	<link rel="stylesheet" type="text/css" href="css/psui-datepicker.css">
	<link rel="stylesheet" type="text/css" href="css/psui-imageresizor.css">
	<link rel="stylesheet" type="text/css" href="css/psui-notification.css">
	<link rel="stylesheet" type="text/css" href="css/psui-demo.css">
	<link rel="stylesheet" type="text/css" href="css/psui-uploadable-image.css">
</head>
<body ng-app="psui-demo">
<div ng-controller="psui-notification-demo-simple" id="demo-1">
	<h1>demo -1 - notification</h1>
	<div psui-notification></div>
	<button ng-click="putInfo()">Info</button>
	<button ng-click="putError()">Error</button>
	<button ng-click="putInfoDel()">Deletable Info</button>
	<button ng-click="putErrorDel()">Deletable Error</button>
	<button ng-click="putWarnDel()">Deletable Warning</button>
	<button ng-click="putInfoTime()">Time Info</button>
	<button ng-click="putErrorTime()">Time Error</button>
	<button ng-click="putInfoTimeDel()">Time Deletable Info</button>
	<button ng-click="putErrorTimeDel()">Time Deletable Error</button>
	<button ng-click="clearNotif()">ClearAll</button>
</div>
<div id="demo0">
	<h1>demo 0 - image resizor</h1>
	<canvas psui-imageresizor></canvas>
	<img id="img" src="img/img.jpg">
</div>
<div ng-controller="psui-autocomplete-demo-simple" id="demo1">
	<h1>demo 1 - autocomplete</h1>
	<input psui-autocomplete psui-options="autocompleteOptions1" ng-model="autocomplete1val"></input>
	<button ng-click="addDataToAutocomplete1()">Add to data</button>
	{{autocompleteOptions1|json}}
	{{autocomplete1val}}
</div>
<!--<div ng-controller="psui-contenteditable-demo-simple" id="demo2">
	<h1>demo 2 - contenteditable</h1>
	<table width="100%"><tr><td width="50%">
				<div psui-contenteditabledd ng-model="data"><img src="http://www.google.com/images/srpr/logo11w.png" height="71" width="202"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<table><tr><td>xxx</td><td>ttt</td></tr><tr><td>xxx</td><td>ttt</td></tr></table></div>
	</td><td style="vertical-align: top;" width="50%">
		{{data}}
	</td></tr></table>
</div>
<div ng-controller="psui-selectbox-demo-simple" id="demo3">
	<h1>demo 3 - selectbox</h1>
	<div psui-selectbox psui-options="selectBoxOpts" ng-model="model.selected">xxxxxxxxxxxxxxxxxxxx</div>
	{{model.selected}}
</div>-->
<div ng-controller="psui-datepicker-demo-simple" id="demo4">
	<h1>demo 4 - datepicker</h1>
	<div psui-datepicker ng-model="date.selected"></div>
	{{date.selected}}
</div>
<div ng-controller="psui-datepicker-demo-simple" id="demo4-2">
	<h1>datepicker v2</h1>
	<input psui-datepicker name="date" type="text" ng-model="date.selected">
	{{date.selected}}
</div>
	
<!--<h1>demo 5 - Ace editor</h1>	
<div style="height: 200px; " ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'twilight',
  mode: 'xml',
  onLoad: aceLoaded,
  onChange: aceChanged
}">
</div>

<h1>demo 6 - Uploadable image</h1>
<div ng-controller="psui-uploadable-image-demo">
	<h1>demo - uploadable immage</h1>
	<psui-uploadable-image style="height: 100px; width:100px;"></psui-uploadable-image>
</div>-->
</body>
</html>
