div.x-fieldset-row {
	div.x-fieldset-label {
		&.x-required:after {
			color: $color-error;
		}
	}

	input, select {
		border: 1px solid $component-border-color;
		background-color: $component-background-color;
	}

}


	