
// common


.x-fixed-header {
	background-color: $header-bg;
	box-shadow: 0 0 5px gray;
}

.x-main-content {
	background-color: white;
}

.x-string-edit {

	INPUT {
		border: 0px solid white;
		background-color: rgb(237, 237, 237);
	}
}

.x-inlineedit {
	border: 1px solid white;

	.x-inlineedit-content {
		border: 1px solid white;
	}

	.x-inlineedit-buttons {
		border-bottom: 0px solid white;
		border-top: 1px solid $color4;
		border-left: 1px solid $color4;
		border-right: 1px solid $color4;
		background-color: white;

		.x-component-button {
			background-color: white;
		}	
	}
}


.x-inlineedit-edit-mode {
	.x-inlineedit-content {
		border: 1px solid $color5;
	}
}

.x-component-button {
	background-color: $header-bg;
	border: 1px solid white;
}
