
// common


.x-fixed-header {
	background-color: $header-bg;
	box-shadow: 0 0 5px gray;
}

.x-main-content {
	background-color: white;
}

.x-string-edit {

	INPUT {
		border: 1px solid #dddddd;
		background-color: rgb(237, 237, 237);
	}
}

.x-component-button {
	background-color: $header-bg;
	border: 1px solid white;
}
