// layout
$fixed-header-height: 40px;
$menu-width: 100px;

// color
$color-yellow: #FFCE0D;
$color-black: #333333;
$color-white: #ffffff;
$color-grey: #dddddd;
$color-grey-light: #eeeeee;

$color-component-background: #E8700C;

$color-main: #fdb730;
$color-main-darker: #fdae17;
$color-main-highlight: #fda908;
$color-main-highlight-darker: #d48c02;
$color-text: #333333;
$color-text-darker: #040404;
$color-main-reverse: #ffffff;

$color-secondary: #b0b0b0;
$color-secondary-darker: #a3a3a3;
$color-secondary-highlight: #9c9c9c;
$color-secondary-highlight-darker: #858585;

$color-background-soft: #fafafa;
$color-border: #ddd;

$color-active: $color-yellow;
$color-error: #ff0000 !default;

// font colors
$font-color-base: $color-text;


// modalview
$modlaview-bg-color: rgba(0,0,0,0.5);
$modalview-body-bg-color: $color-black;
$modalview-color: $color-white;
$modalview-header-bg: $color-yellow;

// header
$header-bg: $color-yellow;

// header navigation
$header-navigation-color: $color-black;
$header-navigation-link-active: lighten($header-bg, 30%);

// main menu
$main-menu-bg: $color-black;
$main-menu-color: $color-white;
$main-item-hover-color: $color-yellow;
$main-item-active-bg-color: lighten($color-black, 10%);

// string menu
$string-border-color: $color-secondary; 
$string-background-color: transparent; 

// component
$component-border-color: $color-secondary;
$component-background-color: $color-background-soft;

// inline edit
$inlineedit-background: $string-border-color;
$inlineedit-pencil-background: rgba(red($string-border-color),green($string-border-color),blue($string-border-color),.3);
$inlineedit-active-border-color: $color-secondary;

//dropdown
$dropdown-border-color: $color-grey; 
$dropdown-shadow-color: 0 5px 10px rgba(red($string-border-color),green($string-border-color),blue($string-border-color),.8);

//calendar
$calendar-controll-background-color: $color-grey;
$calendar-other-color: $color-grey;
$calendar-hover-color: $color-yellow;
$calendar-selected-background-color: $color-black;
$calendar-selected-color: $color-white;
$calendar-current-color: $color-white;
$calendar-current-background-color: $color-component-background;

// selectbox
$selectbox-background-color: $string-border-color;

// validation mark component
$validation-mark-color: $color-error;
$validation-mark-bg: $color-white;
$validation-mark-popup-01: rgba(250, 250, 250, 0);
$validation-mark-popup-02: rgba(208, 208, 208, 0);

// notifications
$notifi-error-border: #ebccd1;
$notifi-error-background: #f2dede;
$notifi-error-color: #a94442;


$notifi-warn-border: #eae834;
$notifi-warn-background: #fffeae;
$notifi-warn-color: #a08c04;

$notifi-info-border: #00c405;
$notifi-info-background: #ddffcf;
$notifi-info-color: #005302;