// layout
$fixed-header-height: 40px;
$menu-width: 100px;

// color
$color1: #FFCE0D;
$color2: #E8A50C;
$color3: #FF9800;
$color4: #E8700C;
$color5: #FF580D;
$color-black: #333333;
$color-white: #ffffff;
$color-grey: #dddddd;
$color-grey-light: #eeeeee;
$color-active: $color1;


// modalview
$modlaview-bg-color: rgba(0,0,0,0.5);
$modalview-body-bg-color: $color-black;
$modalview-color: $color-white;
$modalview-header-bg: $color1;

// header
$header-bg: $color1;

// header navigation
$header-navigation-color: $color-black;
$header-navigation-link-active: lighten($header-bg, 30%);

// main menu
$main-menu-bg: $color-black;
$main-menu-color: $color-white;
$main-item-hover-color: $color1;
$main-item-active-bg-color: lighten($color-black, 10%);

// string menu
$string-border-color: $color-grey; 
$string-background-color: transparent; 

// inline edit
$inlineedit-background: $string-border-color;
$inlineedit-penic-background: rgba(red($string-border-color),green($string-border-color),blue($string-border-color),.3);

//dropdown
$dropdown-border-color: $color-grey; 
$dropdown-shadow-color: 0 5px 10px rgba(red($string-border-color),green($string-border-color),blue($string-border-color),.8);

//calendar
$calendar-controll-background-color: $color-grey;
$calendar-other-color: $color-grey;
$calendar-hover-color: $color1;
$calendar-selected-background-color: $color-black;
$calendar-selected-color: $color-white;
$calendar-current-color: $color-white;
$calendar-current-background-color: $color4;

// selectbox
$selectbox-background-color: $string-border-color;
