<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body style="margin: 0; padding: 0px;">
		<div style="box-shadow: 0px 0px 4px 2px #9e9e9e;background-color: #fdb730;height: 46px;width: 100%; ">
			<div style="padding-top: 10px; padding-left: 30px; font-size: 20px; font-weight: bold; ">Zmena hesla <a href="{{serviceUrl+'/#/forgotten/reset/'+tokenId}}">Resetnúť heslo</a>
</div>
		</div>
		<div style="padding: 24px 24px 24px 24px;">
			Vážená pani, Vážený pán,<br/>
			<br/>
			na základe Vašej požiadavky na zmenu hesla Vám posielame
			linku na <b>zmenu hesla</b>. Kliknutím na linku <a href="{{serviceUrl+'/#/forgotten/reset/'+tokenId}}">Reset zabudnutého hesla</a>

			potvrdíte Vašu požiadavku na zmenu hesla a bude Vám vygenerované nové heslo.<br/>
			<br/>
			V prípade, že ste si zmenu hesla nevyžiadali,
			prosím kontaktujte nás na adrese info@unionsoft.sk.<br/>
			<br/>
			S pozdravom,<br/>
			<br/>
			Tím UnionSoft
		</div>

	</body>

</html>
