Vážená pani, Vážený pán,

bolo Vám vygenerované nové heslo v systéme UnionSoft.
Heslo si musíte zmeniť po prihlásení sa do portálu  v sekcii Môj profil - Zmena hesla.

Adresa portálu UnionSoft: {{serviceUrl}}

.................................
Vaše Prihlasovacie meno: {{userName}}
Vaše nové Heslo: {{userPassword}}
.................................


V prípade že ste si doručenie tohto mailu nevyžiadali, prosím kontaktujte nás na adrese info@unionsoft.sk. 

S pozdravom,


Tím UnionSoft